html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; cursor:default; }
html, body { height:100%; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
body { line-height:1.5; }
table { border-collapse:separate; border-spacing:0; white-space:nowrap; }
caption, th, td { text-align:left; font-weight:normal; }
table, td, th { vertical-align:middle; }
a { border:0; color:#000; text-decoration:none;}
a, a *, input, input *, select, .button span, label { cursor:pointer; }
ul { list-style:none; }


body {
    margin: 0 auto;
    padding: 0;
    background: #fff;
    color: #000;
    font-weight: 300;
    font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
    font-size: 21px;
    line-height: 1.7em;
}

p {
    font-size: 21px !important;
    margin-bottom: 1.7em;
    opacity: .6;
}
.nowrap {
    white-space: nowrap;
}

h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1.2em;
}
h1 {
    font-size: 55px;
    margin-top: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
}
h2 {
    font-size: 34px;
    margin-top: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
}
h3 {
    margin-top: 0;
    padding-top: 1em;
}

a {
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    opacity: .9;
}
a:hover, a:focus {
    opacity: .6;
    outline: 0;
}

ul, ol {
    padding-left: 0;
    list-style: disc;
}

#background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#index, #indextitle { position:fixed; top:1em; left:3em; font-size:.45em; line-height:120%; font-weight:600; color:#000; opacity:.3; -webkit-transition:opacity 300ms; -moz-transition:opacity 300ms; -o-transition:opacity 300ms; transition:opacity 300ms; }
#index { top:5em; }
#index:hover, #index:focus { opacity:1; }
#index a { display:block; font-weight:normal; }
#index ol { list-style:none; }
#index li a:hover, #index li a:focus, #index li a:active, #index li.current>a { font-weight:600; opacity:1; color:#000; }
#index ol li:hover, #index ol li:focus, #index ol li:active, #index li.current { list-style:decimal; }
#indextitle strong a { font-size:1.4em; color:#000; margin-bottom:.2em; }
#indextitle em a { font-size:1.2em; color:#000; margin-bottom:.5em; }

p strong+a { white-space:normal; }



header,
article {
    padding: 10%;
}
header {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}
#jan header {
    background-image: url('../img/Jan-Christoph Borchardt.jpg');
    background-color: #000 !important;
    color: #fff;
}
header h1 {
    margin-top: 0;
}
header h1 {
    max-width: 80%;
}
#stuff header h1,
#stuff header p,
#stuff h2 {
    max-width: initial;
    text-align: center;
}
#jan header p {
    max-width: 60%;
}
header .contact a {
    padding: 8px;
    vertical-align: top;
}

article {
    position: relative;
    overflow: hidden;
    color: #fff;
}
article a {
    color: #fff;
}
article .icon {
    width: 5em;
}
article .content {
    max-width: 45%;
}
article h2 {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
article .button-primary,
article .button {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
    font-weight: 300;
}
article .button-primary {
    background-color: #fff;
    color: #000;
}
article .screenshot {
    position: absolute;
    left: 50%;
    top: 15%;
    max-height: 100%;
    max-width: 80%;
}

#acting { background-color: #6b4fbb; }
#africahacktrip { background-color: #ea623b; }
#clothes { background-color: lightcoral; }
#cycling { background-color: #62c47f; }
#hygiene { background-color: cornflowerblue; }
#music {
    background: -moz-linear-gradient(top, #f0a808 0%, #f0228f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0a808), color-stop(100%,#f0228f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0a808 0%,#f0228f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0a808 0%,#f0228f 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f0a808 0%,#f0228f 100%); /* IE10+ */
	background: linear-gradient(top, #f0a808 0%,#f0228f 100%); /* W3C */
}
#nextcloud { background-color: #0082c9; }
#photography { background-color: #000; }
#speaking { background-color: #a1bcff; }
#speaking .screenshot {
    position: absolute;
    right: 0;
    bottom: 0;
    top: initial;
    left: initial;
    margin-bottom: 0;
}
#speaking .icon,
#speaking .content {
    position: relative;
    z-index: 10;
}
#tech { background-color: lightslategrey; }
#thenounproject { background-color: #231f20; }
#tools { background-color: seagreen; }
#opensourcedesign,
#tosdr,
#minimalism,
#wikipedia { background-color: #fff; color: #000; }
#opensourcedesign .button,
#tosdr .button,
#minimalism .button,
#wikipedia .button { color: #000; border-color: #000; }
#opensourcedesign .button-primary,
#tosdr .button-primary,
#minimalism .button-primary,
#wikipedia .button-primary { background-color: #000; border-color: #000; color: #fff; }

#stuff article li {
    list-style-type: none;
}

#stuff article li::before {
    position: absolute;
    margin-top: 15px;
    margin-left: -25px;
}

#stuff article li#laptop::before { content: '💻'; }
#stuff article li#phone::before { content: '📱'; }
#stuff article li#earphones::before { content: '🎧'; }
#stuff article li#screen::before { content: '📺'; }
#stuff article li#shirts::before { content: '👕'; }
#stuff article li#pants::before { content: '👖'; }
#stuff article li#jacket::before { content: '☃️'; }
#stuff article li#shoes::before { content: '👟'; }
#stuff article li#toothbrush::before { content: '🤓'; }
#stuff article li#soap::before { content: '🛁'; }
#stuff article li#deodorant::before { content: '👃'; }
#stuff article li#shave::before { content: '✂️'; }
#stuff article li#backpack::before { content: '🎒'; }
#stuff article li#money::before { content: '💳'; }
#stuff article li#id::before { content: '🛂'; }
#stuff article li#health::before { content: '⚕️'; }
#stuff article li#bed::before { content: '🛏️'; }
#stuff article li#bicycle::before { content: '🚲'; }



@media only screen and (max-width: 1000px) {
    #jan header {
        padding-bottom: 200px;
    }

    #stuff header p {
        text-align: left;
    }

    article .content {
        max-width: 100%;
    }
    article .screenshot {
        position: relative;
        left: 0;
        top: 2em;
        max-height: 20em;
        margin-bottom: -5em;
        max-width: initial;
    }
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}
