body { margin:0; padding:0; background:#fff; color:#000; font:2em/1em FreeSans,Helvetica,sans-serif; }
article { margin:0; padding:0; width:18em; }
a { white-space:nowrap; text-decoration:none; color:#666; }
#background { width:100%; position:fixed; top:-100px; left:0; z-index:-1; }
